/**
 * Piano.css is a heavily-modified adaptation of the
 * following CSS designs:
 *
 * Pure CSS3 Piano by Taufik Nurrohman
 * On: 1 December 2011
 * Licence: Attribution
 * URL: http://cssdeck.com/labs/pure-css3-piano
 *
 * Pure CSS3 Vertical Piano Menu by Taufik Nurrohman
 * Licence: Attribution
 * URL: http://cssdeck.com/labs/pure-css3-vertical-piano
 */

/* TO DO: convert all elements to % or rem as opposed to pixels
          delete unnecessary CSS code
*/


 * {
  margin:0px;
  padding:0px;
  list-style:none;
}


:focus { /*DR*/
  outline:none !important;
}

body { 
  background:#666;
  background:-webkit-radial-gradient(bottom left,cover,#999,#666); /* rgb(255,0,125) */
  background:-moz-radial-gradient(bottom left,cover,#999,#666);
  background:-ms-radial-gradient(bottom left,cover,#999,#666);
  background:-o-radial-gradient(bottom left,cover,#999,#666);
  background:radial-gradient(bottom left,cover,#999,#666);
  /* DR Keeps gradient fixed while scrolling =========== */
    height:100%; /* 500px; */
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
}


/* Piano Wrapper */

/* #p-wrapper {  DRDRDR
  outline: 5px solid black;
  position: fixed;
  bottom: 0%;
  width: 1000%;
  left: 50%;
  transform: translateX(-50%);
  
} */


.piano-button-large { /*DR*/
  border: none !important;
  font-size: 1.8rem;
  /* color: white !important; */
  /* background-color: #edde9c; */
  color: #ffffff;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  -ms-transition: background-color 1s;
  transition: background-color 1s;
  /* different color combos */
  /* 0 1px 0px #526e77,
    1px 0 0px #709aaa, */
  text-shadow:
    0 1px 0px #3b3b3b,
    1px 0 0px #808080,
    1px 2px 1px #3b3b3b,
    2px 1px 1px #808080,
    2px 3px 2px #3b3b3b,
    3px 2px 2px #808080;
    /* 3px 4px 2px #5d737e,
    4px 3px 3px #5dabcd; */
    /* 4px 5px 3px #378ab4,
    5px 4px 2px #5dabcd,
    5px 6px 2px #378ab4; */
    /* 6px 5px 2px #5dabcd,
    6px 7px 1px #378ab4,
    7px 6px 1px #5dabcd,
    7px 8px 0px #378ab4,
    8px 7px 0px #5dabcd; */
  /* text-shadow: .1rem .1rem 0px #000000; */

  /*   cursor: pointer;
  display: inline-block;
  transform: rotate(-90deg);
  color: white !important;
 */  
  /* position: relative; */
  /* writing-mode: vertical-rl !important;
  text-orientation: mixed !important;  */
}

/* Piano key default color values */
.white-color {
  background-color:rgb(255,255,255) !important;
}
.c-color {
  background-color:rgba(125, 0, 255, 0.4) !important; 
}
.d-color {
  background-color:rgb(255,0,125, 0.4) !important;
}
.e-color {
  background-color:rgb(255,125,0, 0.4) !important;
}
.f-color {
  background-color:rgb(255,255,0, 0.4) !important;
}
.g-color {
  background-color:rgb(0,255,0, 0.4) !important;
}
.a-color {
  background-color:rgb(0,255,255, 0.4) !important;
}
.b-color {
  background-color:rgb(0,0,255, 0.4) !important;
}

/* Piano key bright color values */
.c-color:hover, .c-color-bright {
  background-color:rgb(125,0,255) !important; 
}
.d-color:hover, .d-color-bright {
  background-color:rgb(255,0,125) !important;
}
.e-color:hover, .e-color-bright {
  background-color:rgb(255,125,0) !important;
}
.f-color:hover, .f-color-bright {
  background-color:rgb(255,255,0) !important;
}
.g-color:hover, .g-color-bright {
  background-color:rgb(0,255,0) !important;
}
.a-color:hover, .a-color-bright {
  background-color:rgb(0,255,255) !important;
}
.b-color:hover, .b-color-bright {
  background-color:rgb(0,0,255) !important;
}

a {
  color:indigo;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

#footer {
  /* overflow: hidden;
  width: 100%; */
  /* min-width: 200px; */
  /* position: fixed; */
  /* margin: 0 auto;*/
  /* bottom: 0px; */
  /*overflow: visible; */
  /* margin: 0 auto; */
  /* left: 50%; */
}

/* #centered {
  position: relative;
  display: block;
  width: 1200px;
  text-align: center;
  margin: 0 auto;
} */

#p-wrapper {
  /* background:#000;
  background:-webkit-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
  background:-moz-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
  background:-ms-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
  background:-o-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
  background:linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
   */
  /* DR */
  /* display: none; */
  width:1000%; /*playing with this value... was 1000%*/
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  /* DR */

  -webkit-box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000;
  -moz-box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000;
  box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000;
/*   border-bottom :2px solid #333; /*DR*/
  /* border:2px solid #333; */
  -webkit-border-radius:0 0 5px 5px;
  -moz-border-radius:0 0 5px 5px;
  border-radius:0 0 5px 5px;
  -webkit-animation:taufik 2s;
  -moz-animation:taufik 2s;
  animation:taufik 2s;
}

#nav-piano { /* centered */
  /* outline: 2px solid lightblue; */ /* delete me eventually */
  position: relative;
  display: block;
  width: 211.8rem;/* 3400px; */  /* make this width equal to the number of piano keys needed */
  text-align: center;
  margin: 0 auto;
  background:#000;
  background:-webkit-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
  background:-moz-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
  background:-ms-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
  background:-o-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
  background:linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
     
}

/* @media screen and (max-width: 900px) and (orientation: landscape) { */
  #nav-piano-failure { /* centered */
    /* outline: 2px solid lightblue; */ /* delete me eventually */
    position: relative;
    display: block;
    width: 211.8rem;/* 3400px; */  /* make this width equal to the number of piano keys needed */
    text-align: center;
    margin: 0 auto;
    background:#000;
    background:-webkit-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
    background:-moz-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
    background:-ms-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
    background:-o-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
    background:linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
    /* DR ROTATE PIANO TEST */
   /* -ms-transform: rotate(-90deg); */ /* IE 9 */
   /* -webkit-transform: rotate(-90deg); */ /* Chrome, Safari, Opera */
   /* transform: rotate(-90deg); */
  }
  #p-wrapper-failure {
    /* DR ROTATE PIANO TEST */
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg) translate(-50%, -380%);
    /* transform-origin: bottom left;  */
    /* background:#000;
    background:-webkit-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
    background:-moz-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
    background:-ms-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
    background:-o-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
    background:linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
     */
    /* DR */
    /* display: none; */
    /* width:1000%; */ /*playing with this value... was 1000%*/
    /* position: fixed; */
    /* right: 100%; */
    /* bottom: 50%; */
    /* transform: translateY(-50%); */
    /* DR */
  
    -webkit-box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000;
    -moz-box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000;
    box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000;
  /*   border-bottom :2px solid #333; /*DR*/
    /* border:2px solid #333; */
    -webkit-border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
    -webkit-animation:taufik 2s;
    -moz-animation:taufik 2s;
    animation:taufik 2s;
  }
/* } */


/* Left Piano Wrapper */
#l-wrapper {
 
}

/* Center-octave wrapper */
#c-wrapper {
  
}


/* Right Piano Wrapper */
#r-wrapper {
  
}

/* Tuts */
ul#piano {
  display:block;
  width:100%;
  /*why is this in pixels? */ height: 233px; /* 240px; */
  border-top:2px solid #222;
}

ul#piano li {
  list-style:none;
  float:left;
  display:inline-block;
  background:#aaa;
  width: 4rem; /*DR*/
  /* width:40px; */
  position:relative;
}

/*WHITE KEYS*/
ul#piano li a,ul#piano li div.anchor {

  /* DR SETTINGS */
  /* font-size: 2rem; */
  /* font-weight: 600; */
  box-sizing: border-box;
  padding-bottom: 13%;
  padding-right: 22%;
  cursor: pointer;
  writing-mode: vertical-rl;
  text-orientation: mixed; /* upright; */
  text-align: right;
  display:block;
  height: 20rem;  /* 220px; */
  width: 100%;
   /* END DR SETTINGS */
  
  /* display:block; */
  background:#fff; 
  background:-webkit-linear-gradient(-30deg,#f5f5f5,#fff);
  background:-moz-linear-gradient(-30deg,#f5f5f5,#fff);
  background:-ms-linear-gradient(-30deg,#f5f5f5,#fff);
  background:-o-linear-gradient(-30deg,#f5f5f5,#fff);
  background:linear-gradient(-30deg,#f5f5f5,#fff);
  border:1px solid #ccc;
  -webkit-box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
  -moz-box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
  box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
  -webkit-border-radius:0 0 3px 3px;
  -moz-border-radius:0 0 3px 3px;
  border-radius:0 0 3px 3px;
}

/* White Keys */
 /* ul#piano li a,ul#piano li div.anchor {
 /* font-size: 1.3rem; /* DR */
/* box-sizing: border-box; /* DR */
/*  padding-bottom: 20%; /* DR */
/*  padding-right: 18%; /* DR */
/*  /* padding-left: 22%; */ /* DR */
/*  cursor: pointer; /* DR */
/*  writing-mode: vertical-rl; /* DR */
/*  text-orientation: mixed; /* upright; */ /* DR */
/*  text-align: right; /* DR */
/*  display:block;
/*  height: 20rem;  /* 220px; */
/*  width: 100%; /* DR */
/*  /* background:#fff; */
/*  background:-webkit-linear-gradient(-30deg,#f5f5f5,#fff);
/*  background:-moz-linear-gradient(-30deg,#f5f5f5,#fff);
/*  background:-ms-linear-gradient(-30deg,#f5f5f5,#fff);
/*  background:-o-linear-gradient(-30deg,#f5f5f5,#fff);
/*  background:linear-gradient(-30deg,#f5f5f5,#fff);
/*  border:1px solid #ccc;
/*  -webkit-box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
/*  -moz-box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
/*  box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
/*  -webkit-border-radius:0 0 3px 3px;
/*  -moz-border-radius:0 0 3px 3px;
/*  border-radius:0 0 3px 3px;
/* } /*
 

/* When keys clicked */
ul#piano li a:active,ul#piano li div.anchor:active {
  -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.4);
  -moz-box-shadow:0 2px 2px rgba(0,0,0,0.4);
  box-shadow:0 2px 2px rgba(0,0,0,0.4);
  position:relative;
  top:2px;
  height: 19.7rem; /* DR */
  /* height:216px; */
}

/* Left hand shadow when piano key clicked */
ul#piano li a:active:before,ul#piano li div.anchor:active:before {
  content:"";
  width:0px;
  height:0px;
  /* border-width:216px 5px 0px; */
  border-width:20rem 5px 0px; /* DR */
  border-style:solid;
  border-color:transparent transparent transparent rgba(0,0,0,0.1);
  position:absolute;
  left:0px;
  top:0px;
}
/* Right hand shadow when piano key clicked */
ul#piano li a:active:after,ul#piano li div.anchor:active:after {
  content:"";
  width:0px;
  height:0px;
  border-width:20rem 5px 0px; /*DR*/
  /* border-width:216px 5px 0px; */
  border-style:solid;
  border-color:transparent rgba(0,0,0,0.1) transparent transparent;
  position:absolute;
  right:0px;
  top:0px;
}

/* Black Tuts */
ul#piano li span {
  cursor: pointer; /* DR */
  position:absolute;
  top:0px;
  left:-12px;
  width:1.8rem; /*DR*/
  /* width:20px; */
  height:11rem; /*DR*/
  /* height:120px; */
  background:#333;
  background:-webkit-linear-gradient(-20deg,#333,#000,#333);
  background:-moz-linear-gradient(-20deg,#333,#000,#333);
  background:-ms-linear-gradient(-20deg,#333,#000,#333);
  background:-o-linear-gradient(-20deg,#333,#000,#333);
  background:linear-gradient(-20deg,#333,#000,#333);
  z-index:10;
  border-width:1px 2px 7px;
  border-style:solid;
  border-color:#666 #222 #111 #555;
  -webkit-box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4);
  -moz-box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4);
  box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4);
  -webkit-border-radius:0 0 2px 2px;
  -moz-border-radius:0 0 2px 2px;
  border-radius:0 0 2px 2px;
}

/* When black piano keys pressed */
ul#piano li span:active {
  border-bottom-width:2px;
  height:11rem; /*DR*/
  /* height:123px; */
  -webkit-box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
  -moz-box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
  box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
}

/* Tooltips */
ul#piano li b {
  position:absolute;
  top:0px;
  margin-top:-10px;
  background:#111;
  color:#fff;
  font:bold 14px 'Trebuchet MS',Arial,Sans-Serif;
  border:2px solid #e6e6e6;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  border-radius:7px;
  width:100px;
  height:30px;
  padding:10px;
  left:-40px;
  z-index:100;
  visibility:hidden;
  opacity:0;
  -webkit-box-shadow:0 2px 10px rgba(0,0,0,0.5);
  -moz-box-shadow:0 2px 10px rgba(0,0,0,0.5);
  box-shadow:0 2px 10px rgba(0,0,0,0.5);
  -webkit-transition:all 0.2s ease-out;
  -moz-transition:all 0.2s ease-out;
  -ms-transition:all 0.2s ease-out;
  -o-transition:all 0.2s ease-out;
  -transition:all 0.2s ease-out;
}

/* Tooltip Arrow */
ul#piano li b:before {
  content:"";
  display:block;
  position:absolute;
  top:100%;
  left:50px;
  border-width:8px;
  border-style:solid;
  border-color:#e6e6e6 transparent transparent transparent;
}

ul#piano li b:after {
  content:"";
  display:block;
  position:absolute;
  top:100%;
  left:53px;
  border-width:5px;
  border-style:solid;
  border-color:#111 transparent transparent transparent;
}

ul#piano li:hover b {
  visibility:visible;
  opacity:1;
  margin-top:10px;
}

/* Drop Down Menus */
ul#piano li ul,#search,#contact {
  position:absolute;
  border:2px solid #e6e6e6;
  margin-top:-100px;
  top: 0%; /* 100%; */
  left:0px;
  z-index:1000;
  visibility:hidden;
  opacity:0;
  -webkit-box-shadow:0 2px 7px #000;
  -moz-box-shadow:0 2px 7px #000;
  box-shadow:0 2px 7px #000;
  -webkit-transition:all 0.2s ease-out 0.2s;
  -moz-transition:all 0.2s ease-out 0.2s;
  -ms-transition:all 0.2s ease-out 0.2s;
  -o-transition:all 0.2s ease-out 0.2s;
  transition:all 0.2s ease-out 0.2s;
}

#search,#contact {
  background:#333;
  padding:40px 10px 8px;
  -webkit-border-radius:0 0 18px 0;
  -moz-border-radius:0 0 18px 0;
  border-radius:0 0 18px 0;
}

#search input[type="text"],#contact input[type="text"] {
  border:1px solid #aaa;
  font:normal 12px Cambria,Georgia,Serif;
  padding:2px 5px 2px;
  width:120px;
  margin-bottom:2px;
  margin-right:2px;
  position:relative;
  color:#aaa;
  -webkit-box-shadow:inset 0 0 5px #ccc;
  -moz-box-shadow:inset 0 0 5px #ccc;
  box-shadow:inset 0 0 5px #ccc;
  -webkit-border-radius:0 0 10px 0;
  -moz-border-radius:0 0 10px 0;
  border-radius:0 0 10px 0;
}

#contact textarea {
  border:1px solid #aaa;
  font:normal 12px Cambria,Georgia,Serif;
  padding:2px 5px;
  width:270px;
  height:100px;
  margin-top:4px;
  position:relative;
  color:#aaa;
  -webkit-box-shadow:inset 0 0 5px #ccc;
  -moz-box-shadow:inset 0 0 5px #ccc;
  box-shadow:inset 0 0 5px #ccc;
  -webkit-border-radius:0 0 10px 0;
  -moz-border-radius:0 0 10px 0;
  border-radius:0 0 10px 0;
}

#contact input[type="submit"] {
  background:-webkit-linear-gradient(top,#666,#000,#333);
  background:-moz-linear-gradient(top,#666,#000,#333);
  background:-ms-linear-gradient(top,#666,#000,#333);
  background:-o-linear-gradient(top,#666,#000,#333);
  background:linear-gradient(top,#666,#000,#333);
  border:none;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  -webkit-box-shadow:0 1px 1px #000;
  -moz-box-shadow:0 1px 1px #000;
  box-shadow:0 1px 1px #000;
  padding:3px 10px 4px;
  margin:4px 2px;
  font:normal 10px Verdana,Arial,Sans-Serif;
  color:#ccc;
  float:right;
}

#search input:focus,#contct input:focus,#contact textarea:focus {
  color:#000;
}

/* Loupe */
#search:after {
  content:"";
  width:5px;
  height:5px;
  border:1px solid #666;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  position:absolute;
  left:100%;
  margin-left:-25px;
  top:46px;
  z-index:100;
}

#search:before {
  content:"";
  width:2px;
  height:0px;
  border:1px solid #666;
  position:absolute;
  z-index:3;
  left:100%;
  margin-left:-28px;
  top:53px;
  -webkit-transform:rotate(-42deg);
  -moz-transform:rotate(-42deg);
  -ms-transform:rotate(-42deg);
  -o-transform:rotate(-42deg);
  transform:rotate(-42deg);
}

ul#piano li li {
  width:150px;
  height:auto;
  display:block;
  float:none;
  background:transparent;
}

ul#piano li li a,ul#piano li li a:active {
  height:auto;
  display:block;
  padding:10px 15px;
  background:#333;
  font:normal 12px Arial,Sans-Serif;
  color:#fff;
  text-decoration:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  border-radius:0px;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  border-width:1px 0;
  border-style:solid;
  border-color:#444 transparent #222 transparent;
  top:0px;
  margin-top:0px;
}

ul#piano li li a:active:before,ul#piano li li a:active:after {
  border:none !important;
}

ul#piano li:hover ul,ul#piano li:hover #search,ul#piano li:hover #contact {
  visibility:visible;
  opacity:1;
  margin-top:15px;
}

ul#piano li li a:hover {
  background:#111;
  border-top-color:#222;
  border-bottom-color:#000;
}

/* Paper */
.credit {
  margin:50px;
  width:390px;
  height:50px;
  padding:30px;
  position:relative;
  background:#fff;
  font:italic 1em Cambria,Georgia,Serif;
  color:#666;
  background:-webkit-gradient(linear,0% 20%,0% 92%,from(#fff),to(#f9f9f9),color-stop(.1,#fff));
  background:-moz-linear-gradient(0 0 270deg,#fff,#fff 10%,#f9f9f9);
  background:-ms-linear-gradient(0 0 270deg,#fff,#fff 10%,#f9f9f9);
  background:-o-linear-gradient(0 0 270deg,#fff,#fff 10%,#f9f9f9);
  background:linear-gradient(0 0 270deg,#fff,#fff 10%,#f9f9f9);
  border:1px solid #ccc;
  -webkit-box-shadow:1px 1px 4px rgba(0,0,0,0.1);
  -moz-box-shadow:1px 1px 4px rgba(0,0,0,0.1);
  box-shadow:1px 1px 4px rgba(0,0,0,0.1);
  -webkit-border-bottom-right-radius:60px 5px;
  -moz-border-radius-bottomright:60px 5px;
  
border-bottom-right-radius:60px 5px;
  -webkit-animation:taufik 1s;
  -moz-animation:taufik 1s;
  animation:taufik 1s;
}

.credit:before {
  content:"";
  width:98%;
  z-index:-1;
  height:100%;
  padding:0 0 1px 0;
  position:absolute;
  bottom:0;
  right:0;
  background:#fff;
  background:-webkit-gradient(linear,0% 20%,0% 92%,from(#fff),to(#f9f9f9),color-stop(.1,#fff));
  background:-moz-linear-gradient(0 0 270deg,#fff,#fff 10%,#f9f9f9);
  background:-ms-linear-gradient(0 0 270deg,#fff,#fff 10%,#f9f9f9);
  background:-o-linear-gradient(0 0 270deg,#fff,#fff 10%,#f9f9f9);
  background:linear-gradient(0 0 270deg,#fff,#fff 10%,#f9f9f9);
  border:1px solid #ccc;
  -webkit-box-shadow:1px 1px 8px rgba(0,0,0,0.1);
  -moz-box-shadow:1px 1px 8px rgba(0,0,0,0.1);
  box-shadow:1px 1px 8px rgba(0,0,0,0.1);
  -webkit-border-bottom-right-radius:60px 5px;
  -moz-border-radius-bottomright:60px 5px;
  
border-bottom-right-radius:60px 5px;
  -webkit-transform:skew(2deg,2deg) translate(-4px,8px);
  -moz-transform:skew(2deg,2deg) translate(-4px,8px);
  -ms-transform:skew(2deg,2deg) translate(-4px,8px);
  -o-transform:skew(2deg,2deg) translate(-4px,8px);
  transform:skew(2deg,2deg) translate(-4px,8px);
}

.credit:after {
  content:"";
  width:98%;
  z-index:-1;
  height:98%;
  padding:0 0 1px 0;
  position:absolute;
  bottom:0;
  right:0;
  background:#f3f3f3;
  background:-webkit-gradient(linear,0% 20%,0% 92%,from(#fff),to(#f9f9f9),color-stop(.1,#fff));
  background:-moz-linear-gradient(0 0 270deg,#fff,#fff 10%,#f9f9f9);
  background:-ms-linear-gradient(0 0 270deg,#fff,#fff 10%,#f9f9f9);
  background:-o-linear-gradient(0 0 270deg,#fff,#fff 10%,#f9f9f9);
  background:linear-gradient(0 0 270deg,#fff,#fff 10%,#f9f9f9);
  border:1px solid #ccc;
  -webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.1);
  -moz-box-shadow:0px 0px 8px rgba(0,0,0,0.1);
  box-shadow:0px 0px 8px rgba(0,0,0,0.1);
  -webkit-transform:rotate(-4deg) translate(-14px,-2px);
  -moz-transform:rotate(-4deg) translate(-14px,-2px);
  -ms-transform:rotate(-4deg) translate(-14px,-2px);
  -o-transform:rotate(-4deg) translate(-14px,-2px);
  transform:rotate(-4deg) translate(-14px,-2px);
}

.credit_ribbon {
  position:absolute;
  top:0;
  left:0;
  width:115px;
  height:35px;
  background:rgba(0,0,0,0.1);
  background:-webkit-gradient(linear,555% 20%,0% 92%,from(rgba(0,0,0,0.1)),to(rgba(0,0,0,0.0)),color-stop(.1,rgba(0,0,0,0.2)));
  background:-moz-linear-gradient(555% 0 180deg,rgba(0,0,0,0.1),rgba(0,0,0,0.2) 10%,rgba(0,0,0,0.0));
  background:-ms-linear-gradient(555% 0 180deg,rgba(0,0,0,0.1),rgba(0,0,0,0.2) 10%,rgba(0,0,0,0.0));
  background:-o-linear-gradient(555% 0 180deg,rgba(0,0,0,0.1),rgba(0,0,0,0.2) 10%,rgba(0,0,0,0.0));
  background:linear-gradient(555% 0 180deg,rgba(0,0,0,0.1),rgba(0,0,0,0.2) 10%,rgba(0,0,0,0.0));
  border-left:1px dashed rgba(0,0,0,0.1);
  border-right:1px dashed rgba(0,0,0,0.1);
  -webkit-box-shadow:0px 1px 7px rgba(0,0,0,0.2);
  -moz-box-shadow:0px 1px 7px rgba(0,0,0,0.2);
  box-shadow:0px 1px 7px rgba(0,0,0,0.2);
  -webkit-transform:rotate(-30deg) skew(0,0) translate(-30px,-20px);
  -moz-transform:rotate(-30deg) skew(0,0) translate(-30px,-20px);
  -o-transform:rotate(-30deg) skew(0,0) translate(-30px,-20px);
  transform:rotate(-30deg) skew(0,0) translate(-30px,-20px);
}

.clear {
  clear:both;
}


/* Animation */
@-webkit-keyframes taufik {
  from {opacity:0;}
  to {opacity:1;}
}
@-moz-keyframes taufik {
  from {opacity:0;}
  to {opacity:1;}
}
@keyframes taufik {
  from {opacity:0;}
  to {opacity:1;}
}