html { /*DR*/
  height: 100%;
}

html, body {
  /* font-family: "LCARS"; */
  font-size: 11.5px;
  min-width: 320px; /* Prevents site layout from breaking on extremely tiny displays */ 
  /* height: 100%; */
  /* -webkit-transition-property: background;
       -moz-transition-property: background;
         -o-transition-property: background;
            transition-property: background;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear; */
}

* {
  box-sizing: border-box;
}

button {
  writing-mode: vertical-rl !important;
  text-orientation: mixed !important; /* upright; */
  text-align: right !important;
}
/* DR BACKGROUND COLOR GRADIENTS ================= */
.bg-grey {
  background:#666;
  background:-webkit-radial-gradient(bottom left,cover,#999,#666);
  background:-moz-radial-gradient(bottom left,cover,#999,#666);
  background:-ms-radial-gradient(bottom left,cover,#999,#666);
  background:-o-radial-gradient(bottom left,cover,#999,#666);
  background:radial-gradient(bottom left,cover,#999,#666);
  height:100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-violet {
  background:#666;
  background:-webkit-linear-gradient(rgb(197, 197, 197),rgb(125,0,255));
  background:-moz-radial-gradient(rgb(197, 197, 197),rgb(125,0,255));
  background:-ms-radial-gradient(rgb(197, 197, 197),rgb(125,0,255));
  background:-o-linear-gradient(rgb(197, 197, 197),rgb(125,0,255));
  background: linear-gradient(rgb(197, 197, 197),rgb(125,0,255));
  /* -webkit-transition-property: background;
       -moz-transition-property: background;
         -o-transition-property: background;
            transition-property: background;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear; */
  height:100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-raspberry {
  /* display: none; */
  background:#666;
  background:-webkit-linear-gradient(rgb(197, 197, 197),rgb(255,0,125));
  background:-moz-radial-gradient(rgb(197, 197, 197),rgb(255,0,125));
  background:-ms-radial-gradient(rgb(197, 197, 197),rgb(255,0,125));
  background:-o-linear-gradient(rgb(197, 197, 197),rgb(255,0,125));
  background: linear-gradient(rgb(197, 197, 197),rgb(255,0,125));
  height:100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-orange {
  background:#666;
  background:-webkit-linear-gradient(rgb(197, 197, 197),rgb(255,125,0));
  background:-moz-radial-gradient(rgb(197, 197, 197),rgb(255,125,0));
  background:-ms-radial-gradient(rgb(197, 197, 197),rgb(255,125,0));
  background:-o-linear-gradient(rgb(197, 197, 197),rgb(255,125,0));
  background: linear-gradient(rgb(197, 197, 197),rgb(255,125,0));
  height:100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-yellow {
  background:#666;
  background:-webkit-linear-gradient(rgb(197, 197, 197),rgb(255,255,0));
  background:-moz-radial-gradient(rgb(197, 197, 197),rgb(255,255,0));
  background:-ms-radial-gradient(rgb(197, 197, 197),rgb(255,255,0));
  background:-o-linear-gradient(rgb(197, 197, 197),rgb(255,255,0));
  background: linear-gradient(rgb(197, 197, 197),rgb(255,255,0));
  height:100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-green {
  background:#666;
  background:-webkit-linear-gradient(rgb(197, 197, 197),rgb(0,255,0));
  background:-moz-radial-gradient(rgb(197, 197, 197),rgb(0,255,0));
  background:-ms-radial-gradient(rgb(197, 197, 197),rgb(0,255,0));
  background:-o-linear-gradient(rgb(197, 197, 197),rgb(0,255,0));
  background: linear-gradient(rgb(197, 197, 197),rgb(0,255,0));
  height:100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-cyan {
  background:#666;
  background:-webkit-linear-gradient(rgb(197, 197, 197),rgb(0,255,255));
  background:-moz-radial-gradient(rgb(197, 197, 197),rgb(0,255,255));
  background:-ms-radial-gradient(rgb(197, 197, 197),rgb(0,255,255));
  background:-o-linear-gradient(rgb(197, 197, 197),rgb(0,255,255));
  background: linear-gradient(rgb(197, 197, 197),rgb(0,255,255));
  height:100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-blue {
  background:#666;
  background:-webkit-linear-gradient(rgb(197, 197, 197),rgb(0,0,255));
  background:-moz-radial-gradient(rgb(197, 197, 197),rgb(0,0,255));
  background:-ms-radial-gradient(rgb(197, 197, 197),rgb(0,0,255));
  background:-o-linear-gradient(rgb(197, 197, 197),rgb(0,0,255));
  background: linear-gradient(rgb(197, 197, 197),rgb(0,0,255));
  height:100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  /* height: 100%; */
  
}

.left-piano-margin {
margin-left: 20rem;
}

.weird {
  font-size: 400%;
}
/* Show the piano tray ============= */
.show-me {
  display: block;
}


.display {
  display: block;
}
.do-not-display {
  display: none !important;
}
.test {

}
.headroom {

}
.headroom--unpinned {

}
.headroom--pinned {

}

/* .strokeme {
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
} */

.piano-circle {
  position: relative;
  display: block;
  /* margin-left: auto;
    margin-right: auto;
    width: 50%; */

}
#piano-bw {
  height: 18.9rem; /* 18.8rem; */ /* 15rem; */
  width: auto;
  /* width: 20rem; */
  display: block;
  margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  
}

/* SPIN THE PIANO CIRCLE ================ */
.spin-me {
  -webkit-animation:spin 6s linear infinite;
  -moz-animation:spin 6s linear infinite;
  animation:spin 6s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



/* HIDE THE PIANO CIRCLE ================ */
/* .fade-out {


}
 */
/* SHOW COLORED PIANO CIRCLE ===============*/
/* .fade-in {

}
 */
/* .fade-text-in {
  -webkit-transition: display 3s;
  -moz-transition: display 3s;
  -o-transition: display 3s;
  -ms-transition: display 3s;
  transition: display 3s;
}
 */
/* .piano-menu {

}
 */
/* HIDE THE PIANO MENU ================= */
#hide-piano {
  position: relative;
  display: block;
  text-align: center;
  cursor: pointer;
  height: 5rem; /* 3.5rem; */ /* 63.5px; */
  width: auto !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.4rem;
  width: 50%;
  background: transparent;
  opacity: 0.5;
}

.results-container {
  background: rgb(255, 255, 255) !important;
  /* position: relative; */
  height: 100%;
  /* padding-bottom: 2.5rem; */
}

p {
  text-align: center;
}

.itunesImg {
  position: relative;
  float: left;
  content: "";
  clear: both;
  display: table;
}

.googleResults {
  position: relative;
  /* width: 100%;
  height: 100%; */
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-top: 3px solid orange;
  padding: 20px;
}

.googleImg {
  position: relative;
  float: left;
  content: "";
  display: table;
}

/* CSS GRID ==================== */
.row {
  max-width: 1000px;
  min-width: 320px;
  height: 100%; /*DR*/
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
 .col-12 {
  /* 12 columns, 12/12 */
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%; 
  width: 100%;
}

