/**
 * Piano.css is a heavily-modified adaptation of:
 *
 * Pure CSS3 Piano by Taufik Nurrohman
 * On: 1 December 2011
 * Licence: Attribution
 * URL: http://cssdeck.com/labs/pure-css3-piano
 */
 
 /* 
 Edited original CSS to make design responsive. Utilized JavaScript and jQuery for advanced features:
  Resized most elements.
  Converted pixels to rem and %.
  Fixed to bottom of screen.
  Auto rotates and aligns with left or right side of viewport for responsiveness.
  Added buttons for menus.
  Added colors and labels.
  Made piano playable with sounds.
  Expanded piano to 88 keys.
  Created middle octave for menu.
  Auto-centered the keyboard with equal overflow left and right (or top-bottom if vertically-aligned).
*/


 * {
  margin:0px;
  list-style:none;
}

:focus { /*DR*/
  outline:none !important;
}

/* Hide the piano tray ============= */
.hidden /*DR*/ {
  display: none !important;
}

.piano-button-large { /*DR*/
  border: none !important;
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem; 
  font-weight: 600;
  letter-spacing: .9px;
  color: white !important;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  -ms-transition: background-color 1s;
  transition: background-color 1s;
  text-shadow:
    0 1px 0px #000000,
    1px 0 0px #383838,
    1px 2px 1px #000000,
    2px 3px 1px #545454;
}

/* Piano key default color values - DR */
.white-color {
  background-color:rgb(255,255,255) !important;
}
.C-color {
  background-color:rgba(125, 0, 255, 0.4) !important; 
}
.D-color {
  background-color:rgb(255,0,125, 0.4) !important;
}
.E-color {
  background-color:rgb(255,125,0, 0.4) !important;
}
.F-color {
  background-color:rgb(255,255,0, 0.4) !important;
}
.G-color {
  background-color:rgb(0,255,0, 0.4) !important;
}
.A-color {
  background-color:rgb(0,255,255, 0.4) !important;
}
.B-color {
  background-color:rgb(0,0,255, 0.4) !important;
}

/* Piano key bright color values DR */
.C-color:hover, .C-color:focus, .C-color-bright {
  background-color:rgb(125,0,255) !important; 
}
.D-color:hover, .D-color:focus, .D-color-bright {
  background-color:rgb(255,0,125) !important;
}
.E-color:hover, .E-color:focus, .E-color-bright {
  background-color:rgb(255,125,0) !important;
}
.F-color:hover, .F-color:focus, .F-color-bright {
  background-color:rgb(255,255,0) !important;
}
.G-color:hover, .G-color:focus, .G-color-bright {
  background-color:rgb(0,255,0) !important;
}
.A-color:hover, .A-color:focus, .A-color-bright {
  background-color:rgb(0,255,255) !important;
}
.B-color:hover, .B-color:focus, .B-color-bright {
  background-color:rgb(0,0,255) !important;
}

a {
  text-decoration:none;
  color: black;
}

/* Button text for piano menu - DR*/
.text-c {
  margin-top: 265%;
}
.text-d {
  margin-top: 250%;
}
.text-e {
  margin-top: 240%;
}
.text-f {
  margin-top: 100%;
}
.text-g {
  margin-top: 270%;
}
.text-a {
  margin-top: 220%;
}
.text-b {
  margin-top: 110%;
}

.wrapper-vertical { /*DR*/
  position: fixed;
  top: 50%;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-animation: taufik 2s;
  -moz-animation: taufik 2s;
  animation: taufik 2s;
}
  
.nav-vertical { /* *DR */
  position: relative;
  left: 0px;
  display: block;
  width: 211.8rem;
  margin: 0 auto;
  transform: translateX(-50%) rotate(-90deg);
  -ms-transform: translateX(-50%) rotate(-90deg);
  -webkit-transform: translateX(-50%) rotate(-90deg);
}

.wrapper-horizontal {
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: +5;
  border-bottom :2px solid #333; /*DR*/
  -webkit-border-radius:0 0 5px 5px;
  -moz-border-radius:0 0 5px 5px;
  border-radius:0 0 5px 5px;
  -webkit-animation:taufik 2s;
  -moz-animation:taufik 2s;
  animation:taufik 2s;
}

.nav-horizontal { 
  position: relative;
  display: block;
  width: 211.8rem; /* make this width equal to the number of piano keys needed */
  margin: 0 auto;
}

/* Tuts */
ul#piano {
  display:block;
  width:100%;
  /* height: 233px; */
  border-top:1.5px solid #222;
}

ul#piano li {
  list-style:none;
  float:left;
  /* display:inline-block; */
  background:#aaa;
  width: 4rem; /*DR*/
  position:relative;
}

/*WHITE KEYS*/
ul#piano li a,ul#piano li div.anchor {
/* DR SETTINGS */
  box-sizing: border-box;
  padding-bottom: 13%;
  padding-right: 22%;
  cursor: pointer;
  display:block;
  height: 20rem;
  width: 100%;
   /* END DR SETTINGS */
  background:#fff; 
  background:-webkit-linear-gradient(-30deg,#f5f5f5,#fff);
  background:-moz-linear-gradient(-30deg,#f5f5f5,#fff);
  background:-ms-linear-gradient(-30deg,#f5f5f5,#fff);
  background:-o-linear-gradient(-30deg,#f5f5f5,#fff);
  background:linear-gradient(-30deg,#f5f5f5,#fff); 
  border:1px solid #ccc;
  -webkit-box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
  -moz-box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
  box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
  -webkit-border-radius:0 0 3px 3px;
  -moz-border-radius:0 0 3px 3px;
  border-radius:0 0 3px 3px;
}

ul#piano li a,ul#piano li button.anchor {  
  /* DR SETTINGS */
  box-sizing: border-box;
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
  cursor: pointer;
  display:block;
  height: 20rem;
  width: 100%;
   /* END DR SETTINGS */
  border:1px solid #ccc;
  -webkit-box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
  -moz-box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
  box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
  -webkit-border-radius:0 0 3px 3px;
  -moz-border-radius:0 0 3px 3px;
  border-radius:0 0 3px 3px;
}

/* When keys clicked */
ul#piano li a:active,ul#piano li button.anchor:active { 
  -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.4);
  -moz-box-shadow:0 2px 2px rgba(0,0,0,0.4);
  box-shadow:0 2px 2px rgba(0,0,0,0.4);
  position:relative;
  top:2px;
  height: 19.7rem; /* DR */
}
ul#piano li a:active,ul#piano li div.anchor:active {
  -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.4);
  -moz-box-shadow:0 2px 2px rgba(0,0,0,0.4);
  box-shadow:0 2px 2px rgba(0,0,0,0.4);
  position:relative;
  top:2px;
  height: 19.7rem; /* DR */
}

/* Left hand shadow when piano key clicked */
ul#piano li a:active:before,ul#piano li button.anchor:active:before {  
  content:"";
  width:0px;
  height:0px;
  /* border-width:216px 5px 0px; */
  border-width:20rem 5px 0px; /* DR */
  border-style:solid;
  border-color:transparent transparent transparent rgba(0,0,0,0.1);
  position:absolute;
  left:0px;
  top:0px;
}
ul#piano li a:active:before,ul#piano li div.anchor:active:before {
  content:"";
  width:0px;
  height:0px;
  /* border-width:216px 5px 0px; */
  border-width:20rem 5px 0px; /* DR */
  border-style:solid;
  border-color:transparent transparent transparent rgba(0,0,0,0.1);
  position:absolute;
  left:0px;
  top:0px;
}

/* Right hand shadow when piano key clicked */
ul#piano li a:active:after,ul#piano li button.anchor:active:after {  
  content:"";
  width:0px;
  height:0px;
  border-width:20rem 5px 0px; /*DR*/
  /* border-width:216px 5px 0px; */
  border-style:solid;
  border-color:transparent rgba(0,0,0,0.1) transparent transparent;
  position:absolute;
  right:0px;
  top:0px;
}
ul#piano li a:active:after,ul#piano li div.anchor:active:after {
  content:"";
  width:0px;
  height:0px;
  border-width:20rem 5px 0px; /*DR*/
  /* border-width:216px 5px 0px; */
  border-style:solid;
  border-color:transparent rgba(0,0,0,0.1) transparent transparent;
  position:absolute;
  right:0px;
  top:0px;
}

/* Black Tuts */
ul#piano li span {
  cursor: pointer; /* DR */
  position:absolute;
  top:0px;
  left:-12px;
  width:2rem; /*DR*/
  height:11rem; /*DR*/
  background:#333;
  background:-webkit-linear-gradient(-20deg,#333,#000,#333);
  background:-moz-linear-gradient(-20deg,#333,#000,#333);
  background:-ms-linear-gradient(-20deg,#333,#000,#333);
  background:-o-linear-gradient(-20deg,#333,#000,#333);
  background:linear-gradient(-20deg,#333,#000,#333);
  z-index:10;
  border-width:1px 2px 7px;
  border-style:solid;
  border-color:#666 #222 #111 #555;
  -webkit-box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4);
  -moz-box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4);
  box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4);
  -webkit-border-radius:0 0 2px 2px;
  -moz-border-radius:0 0 2px 2px;
  border-radius:0 0 2px 2px;
}

/* When black piano keys pressed */
ul#piano li span:active {
  border-bottom-width:2px;
  height:11rem; /*DR*/
  -webkit-box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
  -moz-box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
  box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
}

ul#piano li ul,#search,#contact {
  position:absolute;
  border:2px solid #e6e6e6;
  margin-top:-100px;
  top: 0%; /* 100%; DR */
  left:0px;
  z-index:1000;
  visibility:hidden;
  opacity:0;
  -webkit-box-shadow:0 2px 7px #000;
  -moz-box-shadow:0 2px 7px #000;
  box-shadow:0 2px 7px #000;
  -webkit-transition:all 0.2s ease-out 0.2s;
  -moz-transition:all 0.2s ease-out 0.2s;
  -ms-transition:all 0.2s ease-out 0.2s;
  -o-transition:all 0.2s ease-out 0.2s;
  transition:all 0.2s ease-out 0.2s;
}

#piano {
  padding-left: 0px; /* overrides user agent stylesheet */
}

ul#piano li li {
  width:150px;
  height:auto;
  display:block;
  float:none;
  background:transparent;
}

ul#piano li li a,ul#piano li li a:active {
  height:auto;
  display:block;
  padding:10px 15px;
  background:#333;
  font:normal 12px Arial,Sans-Serif;
  color:#fff;
  text-decoration:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  border-radius:0px;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  border-width:1px 0;
  border-style:solid;
  border-color:#444 transparent #222 transparent;
  top:0px;
  margin-top:0px;
}

ul#piano li li a:active:before,ul#piano li li a:active:after {
  border:none !important;
}

ul#piano li:hover ul,ul#piano li:hover #search,ul#piano li:hover #contact {
  visibility:visible;
  opacity:1;
  margin-top:15px;
}

ul#piano li li a:hover {
  background:#111;
  border-top-color:#222;
  border-bottom-color:#000;
}

.clear {
  clear:both;
}

/* Animation */
@-webkit-keyframes taufik {
  from {opacity:0;}
  to {opacity:1;}
}
@-moz-keyframes taufik {
  from {opacity:0;}
  to {opacity:1;}
}
@keyframes taufik {
  from {opacity:0;}
  to {opacity:1;}
}